
.footer
  background-color #ffffff
  .foot
    font-size 1em
    .ft-nav
      padding-bottom 2em
      ul
        li
          line-height 22px
          a
            font-weight 900
            &:hover
              color #333333 + 50%
    .share
      color #999
      overflow hidden
      margin-top 1em
      .bdsharebuttonbox
        span.share-title
          float left
          line-height 28px

.copyright
  background-color #3a3a3a
  padding 1.5em 0
  text-align center
  font-size .9em
  span
    color #999
    line-height 1.8em
    margin 0 1em

@require 'footer_1201px.styl'
@require 'footer_1001x1200px.styl'
@require 'footer_601x1000px.styl'
@require 'footer_320x600px.styl'