@media (min-width: 601px) and (max-width: 1000px)
  .footer
    padding 3em 0 2em
    .foot
      .ft-nav
        width 100%
        ul
          text-align center
          li
            display inline-block
            padding 0 25px
            margin-bottom .6em
      .share
        text-align center
        margin-top 2em
        vertical-align top
        .bdsharebuttonbox
          text-align center
          float none
          a, span
            float none
            display inline-block
            vertical-align top
            &.share-title
              float none
            &.bds_more
              display none
