@media (min-width: 320px) and (max-width: 600px)
  .footer
    padding 3em 0 2em
    .foot
      .ft-nav
        padding-top 0
        width 100%
        ul
          text-align center
          li
            display inline-block
            width 50%
            float left
            text-align center
            margin .5em 0
            padding 0
      .share
        text-align center
        margin-top 2em
        vertical-align top
        .bdsharebuttonbox
          text-align center
          float none
          a, span
            float none
            display inline-block
            vertical-align top
            &.share-title
              float none
            &.bds_more
              display none
      .copy-right
        span
          display block
          padding 0
  .copyright
    span
      display block
      text-align center
