@media (min-width: 1201px)
  .footer
    padding-bottom 70px
    .foot
      .ft-nav
        padding-top 60px
        width 100%
        ul
          li
            float left
            margin-right 55px
          .select-link
            select
              height 25px
              line-height 25px
      .share
        float left
        margin-top 35px
        line-height 22px
