.container
  width 1200px

.header
  .top
    height 100px
    width 1200px
    margin 0 auto
    position relative
    _zoom 1

    .menu, .snav
      display none

    .logo
      width 234px
      height 100px
      float left
      background url($CONTEXT_PATH/images/commons/logo.jpg) left center no-repeat

    .right-area
      float right
      width 950px
      height 100px

      .nav
        height 100px
        float right
        font-size 16px
        _zoom 1
        .main-nav
          height 100px
          text-align center
          list-style none

          li
            list-style none
            float left
            height 100px
            _display inline-block
            _float left

            a
              display inline-block
              padding 0 20px
              line-height 100px
              line-height 100px
              position relative
              border-left 1px solid #fff
              border-right 1px solid #fff

              &.active
                background-color #eee
                border-left-color #eee
                border-right-color #eee

              &.focus, &:hover
                background-color #f8f8f8
                border-left-color #ddd
                border-right-color #ddd
                z-index 9999

        .ieclass
          width 750px