.header
  .top
    height 100%
    position relative
    box-sizing border-box
    z-index 9999

.logo
  min-width 234px
  height 100%
  line-height 100%
  float left
  background url($CONTEXT_PATH/images/commons/logo.jpg) left center no-repeat

.right-area
  float right

.menu
  display none
  height 100%
  line-height 100%
  width 20px
  background url($CONTEXT_PATH/images/commons/toggle.png) center center no-repeat
  cursor pointer
  border-right 1px solid #fff


.snav
  display none

@require 'header_1201px.styl'
@require 'header_1001x1200px.styl'
@require 'header_601x1000px.styl'
@require 'header_320x600px.styl'