@require 'nib/normalize'
@require "nib/reset"

global-reset()
reset-box-model()
reset-font()
reset-body()
reset-table()
reset-table-cell()
reset-html5()
normalize-css()

html
  background #FFFFFF

html, body
  line-height 1.4
  font-size 14px
  color #333333

html, body, a, button, input, select, textarea
  font-family: 'Microsoft Yahei',arail,'\5b8b\4f53',sans-serif

body
  min-width 320px
a
  text-decoration none
  color #333333