extends ../../partials/layout

append css
  link(rel='stylesheet', href='#{STATIC_PATH}/css/react.css')
  
append js
  script(src='#{STATIC_PATH}/js/react/main.js')
  
block content
  .container
    .app