extends ../partials/layout

append css
  link(rel='stylesheet', href='#{CONTEXT_PATH}/css/backbone.css')
  
append js
  script(src='#{CONTEXT_PATH}/js/backbone/app.js')
  
block content
  .container
    #guessyou
      .mt
        h2 猜你喜欢
        a.extra(href='javascript:;') 换一批
      .mc
        .spacer
          i
        ul
          li.fore1(clstag='h|keycount|2015|12b1')
            .p-img
              a(data-clk='//mercury.jd.com/log.gif?t=rec.610009&v=src=rec$action=1$reqsig=c2491cc6f3b3e888d42bf0a6b94f0c65fd259b07$enb=1$sku=0$p=610009$pin=$uuid=1721007814$csku=2191150$index=0$st=0$adcli=$expid=119$im=&rid=1059958835279038654&ver=1&sig=8f7e4dbe8851098f78b12b89e1087b3924355553', href='//item.jd.com/2191150.html', target='_blank')
                img(data-lazy-img='done', width='130', height='130', title='双超（suncao）SC-SB011 多功能仰卧板 家用仰卧起坐健腹肌板 家用运动健身器材', src='//img10.360buyimg.com/n1/s130x130_jfs/t1927/219/1477791682/167376/645330f/565951c3Ncbedcad1.jpg.webp')
            .p-info
              .p-name
                a(data-clk='//mercury.jd.com/log.gif?t=rec.610009&v=src=rec$action=1$reqsig=c2491cc6f3b3e888d42bf0a6b94f0c65fd259b07$enb=1$sku=0$p=610009$pin=$uuid=1721007814$csku=2191150$index=0$st=0$adcli=$expid=119$im=&rid=1059958835279038654&ver=1&sig=8f7e4dbe8851098f78b12b89e1087b3924355553', href='//item.jd.com/2191150.html', target='_blank', title='双超（suncao）SC-SB011 多功能仰卧板 家用仰卧起坐健腹肌板 家用运动健身器材') 双超（suncao）SC-SB011 多功能仰卧板 家用仰卧起坐健腹肌板 家用运动健身器材
              .p-price(data-lazyload-fn='done')
                i ¥
                | 148.00
          li.fore2(clstag='h|keycount|2015|12b2')
            .p-img
              a(data-clk='//mercury.jd.com/log.gif?t=rec.610009&v=src=rec$action=1$reqsig=c2491cc6f3b3e888d42bf0a6b94f0c65fd259b07$enb=1$sku=0$p=610009$pin=$uuid=1721007814$csku=1817560$index=1$st=0$adcli=$expid=119$im=&rid=1059958835279038654&ver=1&sig=fa8b98494e88882d74dfa9796bcd700500eed90d', href='//item.jd.com/1817560.html', target='_blank')
                img(data-lazy-img='done', width='130', height='130', title='丰成（FENC）仰卧板 家用仰卧起坐健腹肌板 多功能健身器材 折叠系列FZ15b', src='//img10.360buyimg.com/n1/s130x130_jfs/t1741/87/521029945/63907/76ab2c0e/55d2c45eN28bdb893.jpg.webp')
            .p-info
              .p-name
                a(data-clk='//mercury.jd.com/log.gif?t=rec.610009&v=src=rec$action=1$reqsig=c2491cc6f3b3e888d42bf0a6b94f0c65fd259b07$enb=1$sku=0$p=610009$pin=$uuid=1721007814$csku=1817560$index=1$st=0$adcli=$expid=119$im=&rid=1059958835279038654&ver=1&sig=fa8b98494e88882d74dfa9796bcd700500eed90d', href='//item.jd.com/1817560.html', target='_blank', title='丰成（FENC）仰卧板 家用仰卧起坐健腹肌板 多功能健身器材 折叠系列FZ15b') 丰成（FENC）仰卧板 家用仰卧起坐健腹肌板 多功能健身器材 折叠系列FZ15b
              .p-price
                i ¥
                | 158.00
          li.fore3(clstag='h|keycount|2015|12b3')
            .p-img
              a(data-clk='//mercury.jd.com/log.gif?t=rec.610009&v=src=rec$action=1$reqsig=c2491cc6f3b3e888d42bf0a6b94f0c65fd259b07$enb=1$sku=0$p=610009$pin=$uuid=1721007814$csku=1445189938$index=2$st=0$adcli=$expid=119$im=&rid=1059958835279038654&ver=1&sig=9bd3735a813fa10e7a16d1084f675171b105b385', href='//item.jd.com/1445189938.html', target='_blank')
                img(data-lazy-img='done', width='130', height='130', title='米客MIKE 仰卧起坐器脚蹬拉力器健腹器收腹机多功能弹簧男士女士锻炼运动健身器材家用 灰橙色-现货', src='//img13.360buyimg.com/n1/s130x130_jfs/t565/42/1082396500/153434/910655b2/54ace8b0N3523c943.jpg.webp')
            .p-info
              .p-name
                a(data-clk='//mercury.jd.com/log.gif?t=rec.610009&v=src=rec$action=1$reqsig=c2491cc6f3b3e888d42bf0a6b94f0c65fd259b07$enb=1$sku=0$p=610009$pin=$uuid=1721007814$csku=1445189938$index=2$st=0$adcli=$expid=119$im=&rid=1059958835279038654&ver=1&sig=9bd3735a813fa10e7a16d1084f675171b105b385', href='//item.jd.com/1445189938.html', target='_blank', title='米客MIKE 仰卧起坐器脚蹬拉力器健腹器收腹机多功能弹簧男士女士锻炼运动健身器材家用 灰橙色-现货') 米客MIKE 仰卧起坐器脚蹬拉力器健腹器收腹机多功能弹簧男士女士锻炼运动健身器材家用 灰橙色-现货
              .p-price
                i ¥
                | 59.00
          li.fore4(clstag='h|keycount|2015|12b4')
            .p-img
              a(data-clk='//mercury.jd.com/log.gif?t=rec.610009&v=src=rec$action=1$reqsig=c2491cc6f3b3e888d42bf0a6b94f0c65fd259b07$enb=1$sku=0$p=610009$pin=$uuid=1721007814$csku=1680268$index=3$st=0$adcli=$expid=119$im=&rid=1059958835279038654&ver=1&sig=fb8cfb2da2952ebb81d23a688eddd2407073d8a', href='//item.jd.com/1680268.html', target='_blank')
                img(data-lazy-img='done', width='130', height='130', title='伊吉康雷神家用静音动感单车 室内健身车 JS300780E', src='//img13.360buyimg.com/n1/s130x130_jfs/t2137/90/2186506258/193883/360a524a/56c14b55N8491d5f0.jpg.webp')
            .p-info
              .p-name
                a(data-clk='//mercury.jd.com/log.gif?t=rec.610009&v=src=rec$action=1$reqsig=c2491cc6f3b3e888d42bf0a6b94f0c65fd259b07$enb=1$sku=0$p=610009$pin=$uuid=1721007814$csku=1680268$index=3$st=0$adcli=$expid=119$im=&rid=1059958835279038654&ver=1&sig=fb8cfb2da2952ebb81d23a688eddd2407073d8a', href='//item.jd.com/1680268.html', target='_blank', title='伊吉康雷神家用静音动感单车 室内健身车 JS300780E') 伊吉康雷神家用静音动感单车 室内健身车 JS300780E
              .p-price
                i ¥
                | 1499.00
          li.fore5(clstag='h|keycount|2015|12b5')
            .p-img
              a(data-clk='//mercury.jd.com/log.gif?t=rec.610009&v=src=rec$action=1$reqsig=c2491cc6f3b3e888d42bf0a6b94f0c65fd259b07$enb=1$sku=0$p=610009$pin=$uuid=1721007814$csku=954924$index=4$st=0$adcli=$expid=119$im=&rid=1059958835279038654&ver=1&sig=917e978f7c846496d8d623763564bf355c22ea83', href='//item.jd.com/954924.html', target='_blank')
                img(data-lazy-img='done', width='130', height='130', title='凯速静音型双轮健腹器 腹肌轮健腹轮滚轮KA05 绿色（含膝盖垫）', src='//img14.360buyimg.com/n1/s130x130_jfs/t2419/163/1315049460/236112/ed34db83/56555e3aN561a46aa.jpg.webp')
            .p-info
              .p-name
                a(data-clk='//mercury.jd.com/log.gif?t=rec.610009&v=src=rec$action=1$reqsig=c2491cc6f3b3e888d42bf0a6b94f0c65fd259b07$enb=1$sku=0$p=610009$pin=$uuid=1721007814$csku=954924$index=4$st=0$adcli=$expid=119$im=&rid=1059958835279038654&ver=1&sig=917e978f7c846496d8d623763564bf355c22ea83', href='//item.jd.com/954924.html', target='_blank', title='凯速静音型双轮健腹器 腹肌轮健腹轮滚轮KA05 绿色（含膝盖垫）') 凯速静音型双轮健腹器 腹肌轮健腹轮滚轮KA05 绿色（含膝盖垫）
              .p-price
                i ¥
                | 39.00
          li.fore6(clstag='h|keycount|2015|12b6')
            .p-img
              a(data-clk='//mercury.jd.com/log.gif?t=rec.610009&v=src=rec$action=1$reqsig=c2491cc6f3b3e888d42bf0a6b94f0c65fd259b07$enb=1$sku=0$p=610009$pin=$uuid=1721007814$csku=797248$index=5$st=0$adcli=$expid=119$im=&rid=1059958835279038654&ver=1&sig=d466c8e4d55c034704e824f52abcd1bd50945f48', href='//item.jd.com/797248.html', target='_blank')
                img(data-lazy-img='done', width='130', height='130', title='诚悦运动健身组合电镀哑铃15公斤kg礼盒CY-024赠手套护腕连接器', src='//img13.360buyimg.com/n1/s130x130_jfs/t2290/1/2791871059/333878/8c832935/57187246Necda1196.jpg.webp')
            .p-info
              .p-name
                a(data-clk='//mercury.jd.com/log.gif?t=rec.610009&v=src=rec$action=1$reqsig=c2491cc6f3b3e888d42bf0a6b94f0c65fd259b07$enb=1$sku=0$p=610009$pin=$uuid=1721007814$csku=797248$index=5$st=0$adcli=$expid=119$im=&rid=1059958835279038654&ver=1&sig=d466c8e4d55c034704e824f52abcd1bd50945f48', href='//item.jd.com/797248.html', target='_blank', title='诚悦运动健身组合电镀哑铃15公斤kg礼盒CY-024赠手套护腕连接器') 诚悦运动健身组合电镀哑铃15公斤kg礼盒CY-024赠手套护腕连接器
              .p-price
                i ¥
                | 199.00

    #wrap
      h2#basket-message
        | You have
        span#basket 0
        |  items in your basket
      ul#default-item-list
      table#shopping-cart
        tbody#shopping-list
        tfoot
          tr
            td#total(colspan='4') 0.00
    script#tmp-shoppingListItem(type='text/template').
      <a class="name"><%= title %></a>
      <span class="price"><%= price.toFixed(2) %></span>
    script#tmp-shoppingCartItem(type='text/template').
      <td class="name"><%= title %></td>
      <td class="quantity-total"><%= quantity %> </td>
      <td><a class="quantity" data-type="increase"><a class="quantity" data-type="decrease"></a> </a></td>
      <td class="sub-total"><%= total.toFixed(2) %></td>
