extends ../../partials/layout

append css
  link(rel='stylesheet', href='#{STATIC_PATH}/css/backbone.css')
  
append js
  script(src='#{STATIC_PATH}/js/backbone/app.js')
  
block content
  .container
    #guessyou
      .mt
        h2 猜你喜欢
        a.extra(href='javascript:;') 换一批
      .mc
        .spacer
          i
        ul#wares-list

    ul#shopping-cart-wrapper.list
            
    #total-wrapper
      | 已选商品
      em.num 0
      | 件
      | 合计：
      i.unit ￥
      em.total 0.00              
            
    script#wares-tpl(type='text/template').
      <% for(var i = 0, wares = wares || [], ware = wares[i], len = wares.length;i < len; ware = wares[++i]) { %>
        <li>
          <div class="inner">
            <div class="p-img"><a href="<%=ware.link %>" target="_blank"><img width="130" height="130" title="<%=ware.description %>" src="#{STATIC_PATH}<%=ware.imgUrl %>"/></a></div>
            <div class="p-info">
              <div class="p-name"><a href="<%=ware.link %>" target="_blank" title="<%=ware.description %>"><%=ware.description %></a></div>
              <div class="p-price"><i>¥</i><%=ware.price %></div>
            </div>
            <div class="p-btn"><a href="#" onclick="return false;" class="btn-append" data-index="<%=i %>"><b></b>加入购物车</a></div>
          </div>
        </li>
      <% } %>
    script#goods-tpl(type='text/template').
      <li class="li_<%=good.cid %>">
        <div class="pic"><a href="<%=good.link %>" target="_blank"><img width="60" height="60" title="<%=good.description %>" src="#{STATIC_PATH}<%=good.imgUrl %>"/></a></div>
        <div class="info"><a href="<%=good.link %>" target="_blank" title="<%=good.description %>" class="name"><%=good.description %></a></div>
        <div class="price"><%=good.price %></div>
        <div class="amount"><a href="#" onclick="return false;" class="minus">-</a><input autocomplete="off" value="<%=good.quantity %>" class="text"/><a href="#" onclick="return false;" class="plus">+</a></div>
        <div class="sum"><%=good.subtotal %></div>
        <div class="op">
          <input type="button" value="删除" class="del"/>
        </div>
      </li>