.header
	.container.top
		span.menu
		.right-area
			.nav.clearfix
				ul.main-nav.clearfix
					li
						a(href='#{CONTEXT_PATH}/') 扶뒬못
					li
						a(href='#{CONTEXT_PATH}/backbone', target='_blank') Backbone
					li
						a(href='#', target='_blank') Angular
					li
						a(href='#', target='_blank') Riot
					li
						a(href='#', target='_blank') React
		a.logo.fix(href='/index')
	.snav
		ul
			li
				a(href='/') 扶뒬못
			li
				a(href='#') Backbone
			li
				a(href='#') Angular
			li
				a(href='#') Riot
			li
				a(href='#') React