@import 'nib/normalize'
@import "nib/reset"

global-reset()
reset-box-model()
reset-font()
reset-body()
reset-table()
reset-table-cell()
reset-html5()
normalize-css()

html
  color #000000
  background #FFFFFF

html, body
  line-height 1.4
  font-size 12px

html, body, a, button, input, select, textarea
  font-family: 'Microsoft Yahei',arail,'\5b8b\4f53',sans-serif
